<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-1">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Wärtsilä Forklift Tracking System.</a>
  <ul class="navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link p-2" href="https://jimmykiang.github.io"><span class="fa fa-2x fa-github"></span></a>
    </li>
    <li>
      <a class="nav-link p-2" href="https://twitter.com/wartsilacorp"><span class="fa fa-2x fa-twitter"></span></a>
    </li>
    <li>
      <a class="nav-link p-2" href="https://www.wartsila.com/investors/blog"><span class="fa fa-2x fa-rss"></span></a>
    </li>
  </ul>
</nav>
